* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3c6e71;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #3c6e71;
    display: block;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #b0d0d3;
    background-color: #f0f5f5;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #3c6e71;
    outline: none;
}

.submit-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #f0a500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #f68e00;
}

.submit-button:active {
    background-color: #e77f00;
}

#mensagem {
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .submit-button {
        width: 100%;
    }
}

